.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-container {
  position: relative;
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
  width: 40vmin;
  background: url("./img/source.jpg") center/cover no-repeat;
  background-color: #fff;
  overflow: hidden;
  pointer-events: none;
  content: "";
}

.image-container::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 20vmin 10vmin;
  	border-style: solid;
  	border-color: #282c34 transparent transparent #282c34;
    content: "";
}

.image-container::after {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  border-width: 20vmin 10vmin;
  border-style: solid;
  border-color: #282c34 #282c34 transparent transparent;
  content: "";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
