.App {
  position: relative;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-container {
  position: relative;
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
  width: 40vmin;
  background-color: #fff;
  overflow: hidden;
  pointer-events: none;
  content: "";
}


.controller {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #3765af;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50vw - 32px);
  height: 40px;
  margin: 8px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.triangle {
  clip-path: polygon(50% 0%, 0% 86.6%, 100% 86.6%);
}

.circle {
  border-radius: 50%;
}

.uploader {
  position: absolute;
  bottom: 7.5vh;
  left: 16px;
}

.button.uploader {
  width: calc(100vw - 48px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.choice-button-wrap {
  width: 40vw;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button.choice-button {
  background-color: #3765af;
  width: 40px;
}
